---
import Python from "./icons/stack/Python.astro";
import Django from "./icons/stack/Django.astro";
import Bootstrap from "./icons/stack/Bootstrap.astro";
import MySQL from "./icons/stack/MySQL.astro";
import JS from "./icons/stack/Javascript.astro";
import Astr from "./icons/stack/Astr.astro";
import Tailwind from "./icons/stack/Tailwind.astro";
import Firebase from "./icons/stack/Firebase.astro";
import ButtonLink from "../components/ButtonLink.astro";
import PreviewBtn from "../components/buttons/PreviewBtn.astro";
import CodeBtn from "../components/buttons/CodeBtn.astro";
import Java from "./icons/stack/Java.astro";

const TAGS = {
    PYTHON: {
        icon: Python,
    },
    DJANGO: {
        icon: Django,
    },
    BOOTSTRAP: {
        icon: Bootstrap,
    },
    MYSQL: {
        icon: MySQL,
    },
    JAVA: {
        icon: Java,
    },
    JS: {
        icon: JS,
    },
    ASTRO: {
        icon: Astr,
    },
    TAILWIND: {
        icon: Tailwind,
    },
    FIREBASE: {
        icon: Firebase,
    },
}

const PROJECTS = [
    {
        title: "Block-B - Literary blog",
        description:
            "Contributed to the backend development of a dynamic book blog using Python and Django, and MySQL for database connections. Implemented secure user authentication, including account creation and login, and posts functionalities. Collaborated on the frontend UI design. This group project demonstrates my full-stack development and collaborative skills.",
        link: "https://grupo6info.pythonanywhere.com/",
        github: "https://github.com/SBelenB/Proyecto_Final",
        image: "/projects/block-b.webp",
        tags: [TAGS.PYTHON, TAGS.DJANGO, TAGS.BOOTSTRAP, TAGS.MYSQL],
    },
    {
        title: "Patients Info System",
        description:
            "Built in Java for medical centers, this application efficiently manages patient information, storing details like first name, last name, and contact number. Users can seamlessly retrieve, modify, or delete records using patient ID numbers. It integrates with a MySQL database for streamlined functionality in line with CRUD operations. Developed for educational purposes",
        github: "https://github.com/SBelenB/CRUDRegistroDePacientes",
        image: "/projects/crud-pacientes.webp",
        tags: [TAGS.JAVA, TAGS.MYSQL],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
        <article class="lg:mb-20">
            <img
                class="rounded mb-4 shadow-md shadow-white/20"
                src={image}
                alt={`captura de pantalla del proyecto ${title}`}
            />
            <ul class="flex gap-x-1">
                {tags.map((tag) => (
                    <li>
                        <tag.icon class="size-6" />
                    </li>
                ))}
            </ul>
            <h3 class="text-2xl font-semibold text-main-purple mt-2 mb-2">{title}</h3>
            <p class="text-1xl opacity-90 text-pretty mb-4">{description}</p>
            <span class="flex gap-x-4 mb-8">
                <ButtonLink href={link}>
                    <PreviewBtn />
                </ButtonLink>
                <ButtonLink href={github}>
                    <CodeBtn />
                </ButtonLink>
            </span>
        </article>
    ))
}
